html {
  image-rendering: optimizeQuality;
  -webkit-font-smoothing: antialiased;
  -ms-interpolation-mode: nearest-neighbor;
}

html,
html body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  min-height: 100svh;
  color: var(--black);
  position: relative;
  font-family: var(--font-serif);
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: theme(--from-lg)) {
  }
}

a {
  color: currentColor;
}
