html {
  image-rendering: optimizeQuality;
  -webkit-font-smoothing: antialiased;
  -ms-interpolation-mode: nearest-neighbor;

  &.is-loading {
    cursor: wait;
  }
  &.has-scroll-dragging {
    user-select: none;
  }
}

html,
html body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* overflow: hidden; */

}

body {
  min-height: 100svh;
  color: var(--black);
  position: relative;
  font-family: var(--font-serif);
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--black); */
  @screen mobile-only
  {
    overflow-x: hidden;
  }
}

a {
  color: currentColor;
}
