.u-relative {
    position: relative;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-none {
    display: none;
}

.u-none\@from-small {
    @media (min-width: var(--from-small)) {
        display: none;
    }
}

.u-none\@to-small {
    @media (max-width: var(--to-small)) {
        display: none;
    }
}

.u-none\@from-medium {
    @media (min-width: var(--from-medium)) {
        display: none;
    }
}

.u-none\@to-medium {
    @media (max-width: var(--to-medium)) {
        display: none;
    }
}
