@import "tailwindcss";

@layer components {
  .u-dom {
    @apply relative z-10 block;
  }
  .u-formate-svg {
    svg {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .u-h-screen {
    height: var(--app-height);
    @media (min-width: theme(--breakpoint-lg)) {
      @apply h-screen;
    }
  }
  .u-h-full {
    height: var(--app-height);
    @media (min-width: theme(--breakpoint-lg)) {
      @apply h-[calc(100svh-73px)];
    }
  }
  .u-h-full-lg {
    @media (min-width: theme(--breakpoint-lg)) {
      @apply h-[calc(100svh-73px)];
    }
  }
  .u-grid-layout {
    @apply grid grid-cols-4 gap-0.5 lg:grid-cols-12;
    &.--half {
      @apply lg:grid-cols-6;
    }
  }
  .u-grid-gap {
    @apply gap-0.5;
  }
  .u-pl-layout {
    @apply pl-[var(--spacing-outer-x-xs)] lg:pl-[var(--spacing-outer-x-lg)];
  }
  .u-px-layout {
    @apply px-[var(--spacing-outer-x-xs)] lg:px-[var(--spacing-outer-x-lg)];
  }

  .u-pt-module {
    @apply pt-[var(--spacing-small)] lg:pt-[var(--spacing-outer-y-lg)];
  }
  .u-py-module-lg {
    @apply lg:py-[var(--spacing-outer-y-lg)];
  }
  .u-py-module {
    @apply py-9 lg:py-[var(--spacing-outer-y-lg)];
  }
  .u-pb-module {
    @apply pb-9 lg:pb-20;
  }
  .u-px-module {
    @apply px-2 lg:px-4;
  }
  .u-px-module-xs {
    @apply px-2 lg:px-0;
  }
  .u-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .u-center-x {
    @apply absolute left-1/2 -translate-x-1/2;
  }
  .u-center-lg {
    @apply lg:absolute lg:left-1/2 lg:top-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2;
  }
  .u-remove-br-xs {
    @media (max-width: theme(--breakpoint-lg)) {
      br {
        @apply hidden;
      }
    }
  }
  .u-remove-br-desktop {
    @media (min-width: theme(--breakpoint-lg)) {
      br {
        @apply hidden;
      }
    }
  }
  .u-mobile {
    @apply block lg:hidden;
  }
  .u-desktop {
    @apply hidden lg:block;
  }
  .u-numbered-list {
    @apply list-none;
    li {
      @apply pl-8 lg:pl-12;
      &:before {
        @apply absolute left-0 top-[20px] mr-4 inline-block w-[15px] lg:top-[30px] lg:mr-[45px] lg:w-[30px];
        counter-increment: mycounter;
        content: '0' counter(mycounter) '.';
      }
      &:first-of-type {
        counter-reset: mycounter;
      }
    }
  }
}


/* Utilisation de @utility au lieu de @layer components pour Tailwind v4 */
@utility dom {
  position: relative;
  z-index: 10;
  display: block;
}
