@import "../settings/mixins.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .u-dom {
    @apply tw-relative tw-z-10 tw-block;
  }
  .u-formate-svg {
    svg {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .u-h-screen {
    height: var(--app-height);
    @screen lg {
      @apply tw-h-screen;
    }
  }
  .u-grid-layout {
    @apply tw-grid tw-grid-cols-4 tw-gap-2 lg:tw-grid-cols-32;
  }
  .u-grid-gap
  {
    @apply tw-gap-2;
  }
  .u-pl-layout {
    @apply tw-pl-outer-x-xs lg:tw-pl-outer-x-lg;
  }
  .u-px-layout {
    @apply tw-px-outer-x-xs lg:tw-px-outer-x-lg;
  }
  .u-pt-module {
    @apply tw-pt-small lg:tw-pt-outer-y-lg;
  }
  .u-py-module-lg {
    @apply lg:tw-py-outer-y-lg;
  }
  .u-py-module {
    @apply tw-py-outer-y-xs lg:tw-py-outer-y-lg;
  }
  .u-pb-module {
    @apply tw-pb-small lg:tw-pb-outer-y-lg;
  }
  .u-px-module {
    @apply tw-px-outer-x-xs lg:tw-px-outer-x-lg;
  }
  .u-center {
    @apply tw-absolute tw-left-1/2 tw-top-1/2 -tw-translate-x-1/2 -tw-translate-y-1/2;
  }
  .u-center-x {
    @apply tw-absolute tw-left-1/2 -tw-translate-x-1/2;
  }
  .u-center-lg {
    @apply lg:tw-absolute lg:tw-left-1/2 lg:tw-top-1/2 lg:-tw-translate-x-1/2 lg:-tw-translate-y-1/2;
  }
  .u-remove-br-xs {
    @screen below-lg {
      br {
        @apply tw-hidden;
      }
    }
  }
  .u-remove-br-desktop {
    @screen lg {
      br {
        @apply tw-hidden;
      }
    }
  }
  .u-mobile {
    @apply tw-block lg:tw-hidden;
  }
  .u-desktop {
    @apply tw-hidden lg:tw-block;
  }
  .u-numbered-list {
    @apply tw-list-none;
    li {
      @apply tw-pl-8 lg:tw-pl-12;
      &:before {
        @apply tw-absolute tw-left-0 tw-top-[20px] tw-mr-4 tw-inline-block tw-w-[15px] lg:tw-top-[30px] lg:tw-mr-[45px] lg:tw-w-[30px];
        counter-increment: mycounter;
        content: '0' counter(mycounter) '.';
      }
      &:first-of-type {
        counter-reset: mycounter;
      }
    }
  }
}
